.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 252, 187);
    width: 75%;
    
}

.flex-container > div {
    background-color: #f67777;
    margin: 10px;
    padding: 20px;
    column-gap: 15px;
    font-size: 1.3rem;
    border-radius: 20px;
}


body {
    background-color: #FFF5E0;
    color: #141E46;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
    }

h1 {
    color: #0079FF;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #cca8e9;
    }

h2 {
    font-size: 1.5em;
}

a:link,
a:visited {
    color: #caf8af;
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
}

.table_nutrition {
    color: #141E46;
    border-collapse: collapse;
    border: 5px dotted #BB2525;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }

  tr:nth-child(even) td {
    background-color: #FF6969;
  }
  
  tr:nth-child(odd) td {
    background-color: #BB2525;
  }

  caption {
    padding: 10px;
  }
