.navbar {
    background-color: #141E46;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 10px;
}

.navbar > div {
    background-color: #0079FF;
    color: #caf8af;
    margin: 7px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 3px 3px;
}


.flex-container {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: #118a7e;
    border-radius: 20px;
}

.flex-container > div {
    background-color: #005689;
    margin: 14px;
    padding: 20px;
    column-gap: 15px;
    font-size: 1.0rem;
    border-radius: 20px;
    box-shadow: 5px 5px;
}

.numberflex-container {
    display: flex;
    background-color: #118a7e;
    color: #d5eeff;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    margin: 14px;
    border-radius: 20px;
}

.numberflex-container > div {
    background-color: #005689;
    color: #d5eeff;
    margin: 14px;
    padding: 20px;
    column-gap: 15px;
    font-size: 1.0rem;
    border-radius: 20px;
    box-shadow: 5px 5px;
}

body {
    background-color: #3D3B40;
    color: #BFCFE7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
    }

h1 {
    color: #BFCFE7;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #cca8e9;
    }

h2 {
    font-size: 1.5em;
}

a:link,
a:visited {
    color: #caf8af;
    font-size: 1em;
}

a:hover {
    text-decoration: none;
}

.table_nutrition {
    color: #141E46;
    border-collapse: collapse;
    border: 5px dotted #BB2525;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }

  tr:nth-child(even) td {
    background-color: #FF6969;
  }
  
  tr:nth-child(odd) td {
    background-color: #BB2525;
  }

  caption {
    padding: 10px;
  }
